name: Demo Action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 22f3001580@ds.study.iitm.ac.in
        run: echo "Hello, world!"
